In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import PIL
from PIL import Image
from numpy import asarray
import glob
import cv2
import tensorflow as tf
from tensorflow import keras

## Import Data

### Train.csv

In [2]:
all_labels=pd.read_csv('train.csv')

In [3]:
Labels_DF=pd.DataFrame(all_labels)
Labels_DF.rename(columns={'image':'file_name'}, inplace=True)
Labels_DF.head(3)

            file_name             species individual_id
0  00021adfb725ed.jpg  melon_headed_whale  cadddb1636b9
1  000562241d384d.jpg      humpback_whale  1a71fbb72250
2  0007c33415ce37.jpg  false_killer_whale  60008f293a2b

In [4]:
Labels_DF['species'].value_counts()

bottlenose_dolphin           9664
beluga                       7443
humpback_whale               7392
blue_whale                   4830
false_killer_whale           3326
dusky_dolphin                3139
spinner_dolphin              1700
melon_headed_whale           1689
minke_whale                  1608
killer_whale                 1493
fin_whale                    1324
gray_whale                   1123
bottlenose_dolpin            1117
kiler_whale                   962
southern_right_whale          866
spotted_dolphin               490
sei_whale                     428
short_finned_pilot_whale      367
common_dolphin                347
cuviers_beaked_whale          341
pilot_whale                   262
long_finned_pilot_whale       238
white_sided_dolphin           229
brydes_whale                  154
pantropic_spotted_dolphin     145
globis                        116
commersons_dolphin             90
pygmy_killer_whale             76
rough_toothed_dolphin          60
frasiers_dolphin               14
Name: species, dtype: int64

In [5]:
## species with incorrect spellings.  bottlenose_dolpin, kiler_whale.
Labels_DF['species'].replace('bottlenose_dolpin', 'bottlenose_dolphin', inplace=True)
Labels_DF['species'].replace('kiler_whale', 'killer_whale', inplace=True)

In [6]:
## create subspecies for whale or dolphin
sub=[]
for each in Labels_DF['species']:
    if 'dolphin' in each:
        a=1
    else: a=2
    sub.append(a)

In [7]:
Labels_DF['sub_cat']=sub

In [8]:
## create species cat numerical
from sklearn.preprocessing import OrdinalEncoder
OE=OrdinalEncoder()
SE=OE.fit_transform(Labels_DF[['species']])
Labels_DF['species_category']=SE.astype(int)

In [9]:
Labels_DF.head(6)

,file_name,species,individual_id,sub_cat,species_category
0,00021adfb725ed.jpg,melon_headed_whale,cadddb1636b9,2,16
1,000562241d384d.jpg,humpback_whale,1a71fbb72250,2,13
2,0007c33415ce37.jpg,false_killer_whale,60008f293a2b,2,8
3,0007d9bca26a99.jpg,bottlenose_dolphin,4b00fe572063,1,2
4,00087baf5cef7a.jpg,humpback_whale,8e5253662392,2,13
5,000a8f2d5c316a.jpg,bottlenose_dolphin,b9907151f66e,1,2

In [10]:
len(Labels_DF['species_category'].value_counts())

28

## Get images from SmallSample folder to test

In [11]:
# get images
image_list = []
for filename in glob.glob('SmallSample/*.jpg'):
    im=Image.open(filename)
    image_list.append(im)

In [12]:
len(image_list)

152

In [13]:
# file name for each image
image_names = []
for filename in glob.glob('SmallSample/*.jpg'):
    name=filename.strip('SmallSample\\')
    image_names.append(name)

In [14]:
Image_DF=pd.DataFrame({
    'image': image_list,
    'file_name': image_names
    })

In [15]:
Image_DF.head(3)

                                               image           file_name
0  <PIL.JpegImagePlugin.JpegImageFile image mode=...  000a8f2d5c316a.jpg
1  <PIL.JpegImagePlugin.JpegImageFile image mode=...  000be9acf46619.jpg
2  <PIL.JpegImagePlugin.JpegImageFile image mode=...  000bef247c7a42.jpg

In [16]:
## Join Dataframes

Big_DF=Image_DF.merge(Labels_DF, how='outer')

In [17]:
Big_DF=Big_DF[:152]
Big_DF.head(5)

,image,file_name,species,individual_id,sub_cat,species_category
0,<PIL.JpegImagePlugin.JpegImageFile image mode=...,000a8f2d5c316a.jpg,bottlenose_dolphin,b9907151f66e,1,2
1,<PIL.JpegImagePlugin.JpegImageFile image mode=...,000be9acf46619.jpg,beluga,afb9b3978217,2,0
2,<PIL.JpegImagePlugin.JpegImageFile image mode=...,000bef247c7a42.jpg,humpback_whale,444d8894ccc8,2,13
3,<PIL.JpegImagePlugin.JpegImageFile image mode=...,000c3d63069748.jpg,beluga,df94b15285b9,2,0
4,<PIL.JpegImagePlugin.JpegImageFile image mode=...,000c476c11bad5.jpg,bottlenose_dolphin,b11b2404c7e3,1,2

### Separate images into Dolphins and Whales folders

####  Use Labels_DF to get all images when have a working model

In [18]:
Dolphins=pd.DataFrame(Big_DF.loc[Big_DF['sub_cat']==1])
Dolphins=Dolphins['file_name']
#Dolphins

In [19]:
# for each in Dolphins:
#     name=each
#     img=Image.open(f'SmallSample/{name}')
#    # img.show()
#     img.save(f"Labels/Dolphins/{name}.jpg")

In [20]:
Whales=pd.DataFrame(Big_DF.loc[Big_DF['sub_cat']==2])
Whales=Whales['file_name']
#Whales

In [21]:
# for each in Whales:
#     name=each
#     img=Image.open(f'SmallSample/{name}')
#     img.save(f"Labels/Whales/{name}.jpg")

In [22]:
dataset=keras.preprocessing.image_dataset_from_directory('Labels', batch_size=20, image_size=(150,150))

Found 152 files belonging to 2 classes.

In [23]:
for data, label in dataset:
    print(data.shape)
    print(data.dtype)
    print(label.shape)
    print(label.dtype)

(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(20, 150, 150, 3)
<dtype: 'float32'>
(20,)
<dtype: 'int32'>
(12, 150, 150, 3)
<dtype: 'float32'>
(12,)
<dtype: 'int32'>

In [60]:
from tensorflow.keras import layers
from tensorflow.keras.layers import LayerNormalization

model=keras.models.Sequential()
model.add(keras.layers.LayerNormalization())
model.add(keras.layers.Flatten(input_shape=[150,150,3]))
model.add(keras.layers.Dense(150, activation='relu'))
model.add(keras.layers.Dense(100, activation='relu'))
model.add(keras.layers.Dense(2, activation='softmax'))

In [65]:
model.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=['accuracy'])

In [66]:
model.fit(dataset, epochs=5)

Epoch 1/5
8/8 [==============================] - 1s 82ms/step - loss: 19.0851 - accuracy: 0.6447
Epoch 2/5
8/8 [==============================] - 1s 77ms/step - loss: 9.1986 - accuracy: 0.6776
Epoch 3/5
8/8 [==============================] - 1s 80ms/step - loss: 0.7616 - accuracy: 0.8158
Epoch 4/5
8/8 [==============================] - 1s 81ms/step - loss: 2.5172 - accuracy: 0.8092
Epoch 5/5
8/8 [==============================] - 1s 79ms/step - loss: 1.3924 - accuracy: 0.8553